<%- include('../partials/dashboard/header') %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% if(photoArray.length > 0) {%>
      <h5>Recent photos</h5>
      <%  photoArray.forEach(fname =>{ %>
      <div class="col-md-4 col-sm-6">
        <a href="/dashboard/gallery">
          <div class="gallery-img" style="background-image: url('/uploads/<%= fname %>'); height:200px;"
            alt="Card image cap">
          </div>
        </a>
      </div>
      <% });} else { %>
        <div class="col-md-8">
        <div class="alert alert-info">
            <span data-notify="message">Add some photos to your gallery. <br/> They will be shown there!</span>
        </div>
      </div>
      <% } %>
    </div>
    <div class="row" style="margin-top:5%;">
      <% if(tasks.length > 0) {%>
        <div class="card">
            <div class="header">
              <h4 class="title">Your tasks</h4>
           
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Added</th>
                
  
                  </tr>
                </thead>
                <tbody>
                  <%  let index = 1; tasks.forEach(task =>{ %>
                  <tr>
                    <th scope="row"><%= index %></th>
                    <td><%= task.task %></td>
                    <td><%= task.date %></td>
                  
  
                  </tr>
                </tbody></table></div></div>
      <% index++;});} else {%>
        <div class="col-md-8">
        <div class="alert alert-info">
            <span data-notify="message">Add some tasks if you wish. <br/> They will be shown right there!</span>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>



<%- include('../partials/dashboard/footer') %>