<%- include('partials/header') %>

<body>
  
  <main role="main">
    <section class="about text-center">
      <div class="container">
    
        <img width="150" height="150" src="<%= photo %>" class="img-circle" alt="Cinque Terre">
        <h3 class="profile"><%= username %></h3>
        <span class="profile text-muted desc"><%= desc %></span>
      </div>
    </section>

    <hr class="separator">

    <section class="gallery">
      <div class="container">
          <div class="grid">
            <div class="grid-sizer"></div>
            <%  photoArray.forEach(fname =>{ %>
              <div class="grid-item">
                  <img  src="/uploads/<%= fname %>" />
              </div>
            <% }) %>
        </div>
      </div>
    </section>
  </main>

  <%- include('partials/footer') %>